ul{
    list-style: none;
    box-sizing: border-box;
    
}
ul li a{
    display: block;
    padding: 10px;
    background-color: darkgray;
    border-radius: 20px;
    text-align: center;

}
p{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 225, 255);
}