body{
    background-image: url("gettyimages-1433485090-640x640.jpg") ;
}
.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-right: 20px;

}
.all-header{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    
}
.header-content{
   color: blue;
   justify-content: center;
   align-items: center;
}

.header-text{
    font-size: 30px;
    color: blueviolet;
    margin: 0;
   
}
.container{
    margin: 20px auto;
   
    
    
}
.choice{
    width: 50%;
    padding: 20px;
    background-color: darkgray;
    box-sizing: border-box;
    
}
.choice ul{
    list-style: none;
    padding: 0;
}
.choice h2{
    margin-top: 0;
}

.sidebar li a:hover {
    background-color:  white;
    text-decoration: none;
}
.touch{
    font-size: 20px;
}
    
.A1{

    display: block;
    padding: 10px;
    background-color:brown;
    border-radius: 20px;
    color:   rgb(32, 97, 218)
    text-align center;
    margin-bottom: 20px;
    width: 200px;
    
}
.A2{
    
    display: block;
    padding: 10px;
    background-color:brown;
    border-radius: 20px;
    color:   rgb(32, 97, 218)
    text-align center;
    margin-bottom: 20px;
    width: 200px;
    
}

.A3{
    
    display: block;
    padding: 10px;
    background-color:brown;
    border-radius: 20px;
    color:   rgb(32, 97, 218)
    text-align center;
    width: 200px;
    
}



.sec1{
    width: 75%;
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgba(238, 130, 238, 0.705);
}
.sec2{
    width: 30%;
    margin-top: 40px;
    margin-left: 20px;
    background-color: bisque;
}
.about{
    margin-top: 30px;
    text-align: center;
    color: rgba(0, 51, 128, 0.877);
}
.para{
    font-weight: bold;

}
.skills{
    font-size: 30px;
}
.contact{
    margin-left: 20px;
}
footer{
    background-color: aquamarine;
    color: brown;
    text-align: center;
    height: 10vh;
    font-size: 20px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 95%;
    }

    .choice {
        width: 100%;
    }

    .main {
        width: 100%;
    }
}
.navigate{
    padding: 15px 0;
    text-align: right;
    background-color: aquamarine;

}
nav a{
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    color: black;
    font-weight: bold;

}